{
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "installedESLint": true,
    "extends": [
        "airbnb"
    ],
    "plugins": [
        "import"
    ],
    "rules": {
        "func-names": [
            "error",
            "never"
        ],
        "indent": [
            1,
            4,
            {
                "SwitchCase": 1
            }
        ],
        "react/prefer-stateless-function": [
            "warn"
        ],
        "global-require": [
            "off"
        ],
        "consistent-this": [
            1,
            "self"
        ],
        "no-underscore-dangle": [
            "error",
            {
                "allow": [
                    "_id"
                ]
            }
        ],
        "no-use-before-define": [
            "off",
            {
                "functions": false
            }
        ],
        "import/extensions": [
            1,
            "never"
        ],
        "import/no-absolute-path": [
            "off"
        ],
        "import/prefer-default-export": [
            "off"
        ],
        "import/no-unresolved": [
            "error",
            {
                "ignore": [
                    "getMongoConnection"
                ]
            }
        ],
        "no-param-reassign": [
            "warn"
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            2,
            "double",
            {
                "avoidEscape": true
            }
        ],
        "semi": [
            "error",
            "always"
        ],
        "arrow-parens": "disabled"
    }
}